.homePage {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  gap: var(--gap-2);
}

.body {
  position: relative;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px var(--gap-2);
  min-height: 50vh;
  border-radius: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(max(48px, var(--gap-2)));
  flex: 1;
}

.heroImageWrapper {
  position: relative;
}

.heroImage,
.footerImage {
  width: 980px;
  max-width: 100%;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.desc {
  font-style: italic;
  text-align: center;
  line-height: 1.6;
}

.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.letter p,
.letter h3 {
  width: 100%;
  max-width: 653px;
  margin-bottom: 1em;
}

.letter h3 {
  font-size: 1.5rem;
}

.letter b {
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-2);
}

.productImage {
  max-width: 360px;
  border-radius: 16px;
}

.ctaButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  top: 33%;
  width: 100%;
  font-size: 2.5rem;
}

@media only screen and (max-width: 720px) {
  .product {
    flex-direction: column;
    justify-content: flex-start;
  }
}
